body {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vmin;
}

button {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 4em;
    height: 3em;
}